.mainDiv {
  display: flex;
  justify-content: center;
}

.searchDiv {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.childDiv {
  width: 93%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.superChildDiv {
  width: 55%;
  border-bottom: 3px solid #617d98;
}
input {
  padding: 10px;
  width: 85%;
  border: none;
  caret-shape: block;
  font-size: 30px;
}
input::placeholder {
  color: #617d98;
  font-size: 24px;
  text-align: left;
}
.icon {
  width: 24px;
  height: 24px;
}
.img{
    width:100%;
    height:100%;  
    object-fit: cover;
}
.imgParent{
    width:530px;
    height:299px;
    padding: 15px;
}
.photo{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
   
}
span{
    width: 350px;
    height: 350px;
}
.btnSearch{
    background-color: rgba(255, 0, 0, 0);
    /* color: white; */
    border: none;
    background-image: url("./src/magnifying-glass-solid (1).svg");
    background-repeat: no-repeat;
}
.btnSearch:hover{
    background-color: #617d98;
}